{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Catalogue {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/list.css') }}">
{% endblock %}

{% block body %}
    <div class="uk-container">
        <h2 class="uk-heading-line uk-text-center"><span>Catalogue</span></h2>

        <div class="uk-flex uk-flex-between uk-margin">
            {% if page > 1 %}
                <a class="uk-button uk-button-secondary" href="{{ path('list', {'page' : page - 1}) }}">
                    <span uk-icon="chevron-left"></span> Page précédente
                </a>
            {% endif %}
            {% if page < total_pages %}
                <a class="uk-button uk-button-secondary" href="{{ path('list', {'page' : page + 1}) }}">
                    Page suivante <span uk-icon="chevron-right"></span>
                </a>
            {% endif %}
        </div>

        <section class="serie-list">
            {% for serie in series %}
                <a href=" {{ path('details', { id : serie.id}) }}">
                    <img src="{{ asset('uploads/posters/series/' ~ serie.poster) }}" width="250px" alt="{{ 'Poster de ' ~ serie.name }}" loading="lazy">
                </a>
            {% else %}
                <p> Pas de série </p>
            {% endfor %}
        </section>

    </div>
{% endblock %}
