{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Catalogue {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/list.css') }}">
{% endblock %}

{% block body %}
    <div class="uk-container">
        <h2 class="uk-heading-line uk-text-center"><span>Catalogue</span></h2>

        <div class="uk-flex uk-flex-between uk-margin">
            {% if page > 1 %}
                <a class="uk-button uk-button-secondary" href="{{ path('list', {'page' : page - 1}) }}">
                    <span uk-icon="chevron-left"></span> Page précédente
                </a>
            {% endif %}
            {% if page < total_pages %}
                <a class="uk-button uk-button-secondary" href="{{ path('list', {'page' : page + 1}) }}">
                    Page suivante <span uk-icon="chevron-right"></span>
                </a>
            {% endif %}
        </div>

        <section class="serie-list">
            {% for serie in series %}
                <div class="container">
                <div class="box" style="--poster: url('{{ asset('uploads/posters/series/' ~ serie.poster) }}')">

                    <div class="content">
                        <h2>{{ serie.name }}</h2>
                        <p>{{ serie.overview|slice(0, 120) ~ '...' }}</p>
                        <a href="{{ path('details', { id : serie.id}) }}">Voir la fiche</a>
                    </div>
                </div>
                </div>
            {% else %}
                <p>Pas de série</p>
            {% endfor %}
        </section>
    </div>
{% endblock %}




